.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1548550023-2bdb3c5beed7') center/cover;
    background-size: cover;
}

.hero h1 {
    font-size: 48px;
}

.card {
    border: none;
    transition: 0.3s;
    border-radius: 12px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

section h2 {
    font-weight: bold;
}